// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #e94f37;
$secondary: #ffcc38;
$success: green;
$info: blue;
$warning: yellow;
$danger: orange;
$light: #f6f7eb;
$dark: #393E41;
$tertiary: #9764c7;


@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

.html{
    overscroll-behavior: contain;
}

/* fonts */
@font-face {
    font-family: "Senmoly Caligan";
    src: url("/fonts/SenmolyCaligan.otf");
}

@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/SpaceGrotesk.ttf");
}

.text-tertiary{
    color: $tertiary;
}

img{
    width: 100%;
}

/* buttons */


.cls-1{
    fill: $light;
}

/* logo transition */
    .navbar-brand{
        transition: ease all 1s;
    }

    .navbar-brand.enlarge{
        width: 50px;
    }

    .navbar-brand:not(.enlarge){
        width: 150px;
    }

.pb-50px{
    padding-bottom: 170px !important;
}

a#logoLink{
    font-family: 'Senmoly Caligan', serif;
}

li.nav-item a.nav-link{
    font-family: 'Space Grotesk', sans-serif;
}

.h3{
    text-transform: uppercase;
}


/* slick carousel styling */

carouselHolder{
    padding: 25px;
}

.carousel-1 div{
    width: 100%;
}

.carousel-1 img{
    height: 60vh;
    object-fit: cover;
    width: 100%;
    border: solid white 1.5rem;
    border-radius: 25px;
}

.slick-slide {
    padding: 1rem;
    margin: 2rem;
}

/* dot colors */
.slick-dots li button:before{
        color: $light;
        opacity: 1;
    }

    .slick-dots li.slick-active button:before{
        color: $secondary;
    }

  .display-2{
    font-family: 'Senmoly Caligan', serif;
  }

/* active underline */
@media screen and (min-width: 992px) {
    nav li:hover{
        border-bottom: solid 4px white;
        filter: blur(4px);
    }
    
    /* .active::after{
        content: "";
        display: block;
        position:relative;
        background-color: var(--bs-light);
        width: 100%;
        height: 6px;
        filter: blur(1px);
        border-radius: 3px;
    } */
}

/* header styles */
.navbar-collapse{
    flex-grow: 0;
    flex-basis: 60% !important;
}

/* footer styles */
footer img{
    width: auto;
}


/* animation */
.navbar-brand{
    animation: scroll-logo;
    animation-duration: 2ms;
    animation-timeline: scroll(y);
}

@scroll-logo{
    to { width: 50px; }
}

.hide{
    
}

// button stlying

.btn{
    border-radius: 25px;
    border: solid 4px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.5rem;
}

.btn-primary{
    border: solid 4px;
    -webkit-box-shadow: -1px 0px 24px 24px $primary; 
    box-shadow: -1px 0px 14px 12px $primary;
    margin: 1.5rem 0;
}

.btn-primary:hover, .btn-primary:focus{
    box-shadow: none;
    border: solid 4px;
}

.btn-primary:focus{
    border: solid 4px;
}
