// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #e94f37;
$secondary: #ffcc38;
$success: green;
$info: blue;
$warning: yellow;
$danger: orange;
$light: #f6f7eb;
$dark: #393E41;
$tertiary: #9764c7;


$btn-font-family:             'Space Grotesk';
$btn-font-size:               24px;
$btn-line-height:             22px;

$btn-padding-y:               12px;
$btn-padding-x:               63px;

$btn-border-width:            4px;

$btn-font-weight:             800;
$btn-box-shadow:              inset 0 1px 0 rgba($light, 1), 0 1px 1px rgba($dark, 1);
$btn-focus-box-shadow:        none;
$btn-disabled-opacity:        .65;
$btn-active-box-shadow:       inset 0 3px 5px rgba($dark, .125);

$btn-border-radius:           2rem;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

$btn-hover-bg-shade-amount:       15%;
$btn-hover-bg-tint-amount:        15%;
$btn-hover-border-shade-amount:   20%;
$btn-hover-border-tint-amount:    10%;
$btn-active-bg-shade-amount:      20%;
$btn-active-bg-tint-amount:       20%;
$btn-active-border-shade-amount:  25%;
$btn-active-border-tint-amount:   10%;

.btn{
  --bs-btn-color: #f6f7eb !important;
}

.btn-tertiary{
  --bs-btn-color: #f6f7eb !important;
  --bs-btn-bg: #9764c7 !important;
}

.btn-outline-primary {
    --bs-btn-color: #e94f37 !important;
}


@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

.html{
    overscroll-behavior: contain;
}

/* fonts and text */
    @font-face {
        font-family: "Senmoly Caligan";
        src: url("/src/fonts/SenmolyCaligan.otf");
    }

    @font-face {
        font-family: "Space Grotesk";
        src: url("/src/fonts/SpaceGrotesk.ttf");
    }

    p{
        font-family: 'Space Grotesk', sans-serif;
    }

    .h1{
        text-transform: uppercase;
        font-family: 'Space Grotesk', sans-serif;
    }

    .h2{
        font-family: 'Space Grotesk', sans-serif;
    }

    .h3{
        text-transform: uppercase;
        font-family: 'Space Grotesk', sans-serif;
    }

    .display-2{
        font-family: 'Senmoly Caligan', serif;
    }

    .text-tertiary{
        color: $tertiary;
    }

    a#logoLink{
        font-family: 'Senmoly Caligan', serif;
    }

    li.nav-item a.nav-link{
        font-family: 'Space Grotesk', sans-serif;
    }

    .nav-title{
        font-size: 2rem;
    }

// other site wide styles
    img{
        width: 100%;
    }

    .cls-1{
        fill: $light;
    }

    .vh-50{
        height: 50vh;
    }

    .decor-img{
        border: solid white 4px;
        border-radius: 1rem;
    }

    // #bg-container {
    //     padding-top: 118px;
    // }

    /* extra padding and active underline */
    @media screen and (min-width: 992px) {
        nav li a::after{
            content: "";
            display: block;
            position:relative;
            background-color: var(--bs-light);
            width: 100%;
            height: 6px;
            filter: blur(1px);
            border-radius: 3px;
            opacity: 0;

            transition: all 500ms ease;
        }

        nav li a:hover::after, nav li a:focus::after{
            opacity: 100;
        }

        nav li .active::after{
            opacity: 100;
        }
    }

    /* header styles */
    @media screen and (min-width: 992px) {
        .navbar-collapse{
            flex-grow: 0;
            flex-basis: 60% !important;
        }
    }

    #tabletTitle{
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }

    /* footer styles */
    footer img{
        width: auto;
    }

        @media (min-width: 992px) {
            .nav-title {
                display: block !important; /* Override any .hide class */
            }
        }
        
        .hide{
            transition: scale 200ms;
            transition: all 300ms;

            transform: scale(0.1);
            opacity: 0;
            position: absolute;
            filter: blur(3px);
        } 

    // button stlying

        .btn{
            margin: 1.5rem 0;
            width: calc(100% - 1.5rem);
            -webkit-box-shadow: -1px 0px 14px 12px $primary; 
            box-shadow: -1px 0px 8px 8px $primary;
        }

        .btn-secondary{
            -webkit-box-shadow: -1px 0px 14px 12px $secondary; 
            box-shadow: -1px 0px 8px 8px $secondary;
        }

        .btn-tertiary{
            -webkit-box-shadow: -1px 0px 14px 12px $tertiary; 
            box-shadow: -1px 0px 8px 8px $tertiary;
        }

        .btn-outline-primary {
            -webkit-box-shadow: none; 
            box-shadow: none;
        }

        .btn-primary:hover{
            color: $light;
            box-shadow: none;
            border: solid 4px $primary-text-emphasis;
        }

        .btn-primary:focus{
            border: solid 4px;
        }

        .btn-primary:active{
            background-color: $primary-text-emphasis;
            border: solid 4px $primary-text-emphasis;
        }

// home page specific

    #bento{
        scroll-margin-top: 130px;
        // margin-top: 0px;
    }


    /* logo transition */
    .navbar-brand{
        transition: ease all 1s;
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    .navbar-brand.shrink{
        width: 3.125rem;
    }

    .navbar-brand:not(.shrink){
        width: 8rem;
        max-width: 50vw;
    }

    .nav-item{
        min-height: 50px;
    }

    nav{
        min-height: 92px;
    }

    @media screen and (min-width: 992px) {
        nav{
            min-height: 130px;
        }
    }

    .navbar-toggler{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .navbar-collapse.show ul{
        margin-top: 50px;
    }

    .navbar-collapse.collapsing ul{
        margin-top: 50px;
    }

    .pb-170px{
    padding-bottom: 170px !important;
    }

    .mb-170px{
    margin-bottom: 170px !important;
    }

    .m-vw-lg-50{
        max-width: 80vh;
        max-height: 80vh;
    }

    

    /* slick carousel styling */

    // .carouselHolder{
    //     height: 70vh;
    //     margin: 2rem 0;
    //     padding: 2rem 0;
    // }

    // .carousel-1 div{
    //     width: 100%;
    // }
    
    // .slick-list{
    //     max-height: 100%;
    // }

    // .carousel-1 img{
    //     width: 100%;
    //     height: auto;
    //     object-fit: contain;
    // }    

    // .slick-slide {
    //     padding: 2rem;
    //     margin: 2rem;
    // }

    // .carouselHolder {
    //     position: relative;
    //     display: block;
    
    //     .carousel-1 {
    //     width: 100%;
    //     background-color: #223864;
    //     overflow: hidden;
    //     visibility: hidden;
    //         &.slick-initialized {
    //             visibility: visible;
    //             display: block;
    //         } 
                
    //         .slick-slide {
    //         display: inline-block;
    //         position: relative;
    //         height: 100%;
    //             img {
    //             display: inline-block;
    //             position: relative; 
    //             // width: 60rem;
    //             width: 100%;
    //             height: 100%;
    //             // margin: 0 auto;
    //             //width: 100%;
    //             }
    //         }
    //     }
    // }

    /* dot colors */
    .slick-dots li button:before{
            color: $light;
            opacity: 1;
        }

        .slick-dots li.slick-active button:before{
            color: $secondary;
        }

// about page specific styles
    #mission-title{
        background: url("/src/images/about-page/mission.jpg") center no-repeat;
        background-size: cover;
    }
    #mission-title h2{
        height: fit-content;
    }

    .about-section{
        padding-bottom: 20vh;
        padding-top: 20vh;
        height: 100vh;
    }

// work page specific styles
    .portfolio-item{
        height: 100vh;
        padding-bottom: 10rem;
    }
    .portfolio-item > div{
        padding-bottom: 10vh;
    }

    @media screen and (min-width: 992px) {
        .portfolio-item{
            padding-top: 15vh;
        }
    }

    #mobileTitle{
        padding-top: 2rem;
    }

    .portfolio-item:last-child div{
        border-bottom: none !important;
    }

    #graphicsArticle{
        scroll-margin-top: 10rem;
    }

    #webArticle{
        scroll-margin-top: 10rem;
    }