// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #e94f37;
$secondary: #ffcc38;
$success: green;
$info: blue;
$warning: yellow;
$danger: orange;
$light: #f6f7eb;
$dark: #393E41;
$tertiary: #9764c7;


@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

.html{
    overscroll-behavior: contain;
}

/* fonts and text */
    @font-face {
        font-family: "Senmoly Caligan";
        src: url("/src/fonts/SenmolyCaligan.otf");
    }

    @font-face {
        font-family: "Space Grotesk";
        src: url("/src/fonts/SpaceGrotesk.ttf");
    }

    p{
        font-family: 'Space Grotesk', sans-serif;
    }

    .h1{
        text-transform: uppercase;
        font-family: 'Space Grotesk', sans-serif;
    }

    .h2{
        font-family: 'Space Grotesk', sans-serif;
    }

    .h3{
        text-transform: uppercase;
        font-family: 'Space Grotesk', sans-serif;
    }

    .display-2{
        font-family: 'Senmoly Caligan', serif;
    }

    .text-tertiary{
        color: $tertiary;
    }

    a#logoLink{
        font-family: 'Senmoly Caligan', serif;
    }

    li.nav-item a.nav-link{
        font-family: 'Space Grotesk', sans-serif;
    }

    .nav-title{
        font-size: 2rem;
    }

// other site wide styles
    img{
        width: 100%;
    }

    .cls-1{
        fill: $light;
    }

    .vh-50{
        height: 50vh;
    }

    // .decor-img{
    //     border: solid white 1.5rem;
    //     border-radius: 25px;
    // }

    #bg-container{
        padding-top: 118px;
    }

    /* extra padding and active underline */
    @media screen and (min-width: 992px) {
        /*nav li:hover{
            border-bottom: solid 4px white;
        }*/
        
        #bg-container{
            padding-top: 180px;
        }

        .active::after{
            content: "";
            display: block;
            position:relative;
            background-color: var(--bs-light);
            width: 100%;
            height: 6px;
            filter: blur(1px);
            border-radius: 3px;
        }
    }

    /* header styles */
    @media screen and (min-width: 992px) {
        .navbar-collapse{
            flex-grow: 0;
            flex-basis: 60% !important;
        }
    }

    /* footer styles */
    footer img{
        width: auto;
    }

        @media (min-width: 992px) {
            .nav-title {
                display: block !important; /* Override any .hide class */
            }
        }
        
        .hide{
            transition: scale 200ms;
            transition: all 300ms;

            transform: scale(0.1);
            opacity: 0;
            position: absolute;
            filter: blur(3px);
        } 

    // button stlying

        .btn{
            border-radius: 25px;
            border: solid 4px;
            font-family: 'Space Grotesk', sans-serif;
            font-size: 1.5rem;
        }

        .btn-primary{
            border: solid 4px;
            -webkit-box-shadow: -1px 0px 24px 24px $primary; 
            box-shadow: -1px 0px 14px 12px $primary;
            margin: 1.5rem 0;
        }

        .btn-primary:hover, .btn-primary:focus{
            box-shadow: none;
            border: solid 4px;
        }

        .btn-primary:focus{
            border: solid 4px;
        }

// home page specific

    /* logo transition */
    .navbar-brand{
        transition: ease all 1s;
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    .navbar-brand.shrink{
        width: 3.125rem;
    }

    .navbar-brand:not(.shrink){
        width: 15rem;
        max-width: 50vw;
    }

    .nav-item{
        min-height: 50px;
    }

    nav{
        min-height: 86px;
    }

    @media screen and (min-width: 992px) {
        nav{
            min-height: 140px;
        }
    }

    .navbar-toggler{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .navbar-collapse.show ul{
        margin-top: 50px;
    }

    .navbar-collapse.collapsing ul{
        margin-top: 50px;
    }

    .pb-170px{
    padding-bottom: 170px !important;
    }

    .mb-170px{
    margin-bottom: 170px !important;
    }

    /* slick carousel styling */

    // .carouselHolder{
    //     height: 70vh;
    //     margin: 2rem 0;
    //     padding: 2rem 0;
    // }

    // .carousel-1 div{
    //     width: 100%;
    // }
    
    // .slick-list{
    //     max-height: 100%;
    // }

    // .carousel-1 img{
    //     width: 100%;
    //     height: auto;
    //     object-fit: cover;
    // }    

    .slick-slide {
        padding: 2rem;
        margin: 2rem;
    }


    /* dot colors */
    .slick-dots li button:before{
            color: $light;
            opacity: 1;
        }

        .slick-dots li.slick-active button:before{
            color: $secondary;
        }

// about page specific styles
    #mission-title{
        background: url("/src/images/about-page/mission.jpg") center no-repeat;
        background-size: cover;
    }
    #mission-title h2{
        height: fit-content;
    }

